<% title content.title %>

<%= content_for :top do %>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= render :partial => 'contents/browser', :locals => {:project => project} %>
  </div>
  <div class="col-center-left content">
    <div class="assets">
      <% content.assets.each do |asset| %>
          <%= div_for asset do %>
              <%= image_asset asset %>
              <%= content_tag :div, asset.description, :class => 'description' if asset.description? %>
          <% end %>
      <% end %>
    </div>
    &nbsp;
  </div>
  <div class="col-center-right content">
    <div class="info">
      <h1><%= content.title %></h1>
      <%= content_tag :h2, content.author, :class => 'author' if content.author.present? %>
    </div>
    <%= button_group do %>
        <%= add_button_link_to t('.add_content'), new_project_content_path(project) if can? :new, content %>
        <%= edit_button_link_to t('.edit_content'), [:edit, project, content] if can? :edit, content %>
        <%= add_button_link_to t('.add_content_asset'), new_project_asset_path(project, :c => content.id) if can? :manage, content %>
        <%= calendar_button_link_to t('.manage_assets'), project_content_assets_path(project, content) if can? :manage, content %>
        <%= danger_remove_button_link_to t('.destroy_content'), [project, content], :method => :delete,
                                         :confirm => '¿Segura que quieres borrar este contenido?' if can? :destroy, content %>
    <% end %>

    <%= render_body content %>
    &nbsp;
    <div class="discussion">
      <%= render_comments new_comment %>
    </div>
  </div>
</div>
<div class="row24">
  <div class="col-left">&nbsp;</div>
  <div class="col-main">
  </div>
</div>



