<% title content.title %>

<%= content_for :top do %>
    <h1><%= content.title %></h1>
    <h2 class="author"><%= content.author %></h2>
<% end %>

<div class="row24">
  <div id="browser" class="col-left">
    <%= link_to image_tag('iconos/libro.png'), project %>
    <%= render :partial => 'contents/browser', :locals => {:project => project} %>
  </div>
  <div class="col-center-left content">
    <%# content.assets.each do |asset| %>
        <%#= image_tag asset.file.url %>
    <%# end %>
    <%= render :partial => 'comments/comments', :locals => {:comment => new_comment} %>
  </div>
  <div class="col-center-right content">
    <%= render_body content %>
    &nbsp;
  </div>
</div>
<div class="row24">
  <div class="col-left">&nbsp;</div>
  <div class="col-main">
  </div>
</div>



