<%= div_for comment do %>
    <div class="info">
      <%= avatar_img comment.user %>
      #<%= comment.position %>
      <%= comment.user.name %>,
      hace <%= time_ago_in_words comment.created_at %>
    </div>
    <%= comment.body %>
    <%= link_to "&larr; #{t('.reply')}".html_safe, new_comment_path(:parent_id => comment.id, :format => :js),
                :class => 'reply', :rel => 'nofollow' %>
    <%= link_to 'Borrar', comment, :method => :delete, :confirm => '¿Quieres borrar ese comentario?' if can? :destroy, comment %>

    <%= content_tag :div, '', :id => "reply-#{comment.id}", :class => 'reply' %>
<% end %>