<%= div_for comment do %>
    <div class="info">
      <%= avatar_img comment.user %>
      <%= comment.user.name %>
    </div>
    <%= comment.body %>
    <%= link_to t('.reply'), '#', :class => 'reply' %>
<% end %>