<div class="discussion">
  <h2>Comentarios</h2>
  <%= simple_form_for comment do |form| %>
      <%= form.input :resource_id, :as => :hidden %>
      <%= form.input :resource_type, :as => :hidden %>
      <%= form.input :body %>
      <%= button_submit_tag 'Comentar' %>
  <% end %>
  <div class="comments">
    <% comment.resource.comments.each do |comment| %>
        <div class="nested_comments">
          <%= nested_comments comment.subtree.arrange(:order => :created_at) %>
        </div>
    <% end %>
  </div>
</div>