<%= content_for :top do %>
    <%= title topic.title %>
    <%= button_group do %>
        <%= edit_button_link_to t('topics.show.edit_topic'), [:edit, project, topic] if can? :edit, topic %>
    <% end %>
<% end %>

<%= content_for :browser do %>
    <h2>Temas de discusón</h2>
    <ul>
      <% topics.each do |topic| %>
          <li><%= link_to topic.title, [project, topic] %></li>
      <% end %>
    </ul>
<% end %>

<%= content_for :info do %>
    <%= content_tag :h2, t('.topic_title') %>
    <ul>
      <li><%= link_to 'Situación actual', "#" %></li>
    </ul>
    <%= content_tag :h2, t('.proposals_title') %>
    <ul>
      <% proposals.each do |proposal| %>
      <li><%= link_to proposal.title, "#proposal_#{proposal.id}" %></li>
      <% end %>
    </ul>
    <%= content_tag :h2, t('.agreements_title') %>
    <ul>
      <% agreements.each do |agreement| %>
      <li><%= link_to agreement.title, "#agreement_#{agreement.id}" %></li>
      <% end %>
    </ul>
    <%= content_tag :h2, t('.tasks_title') %>
    <ul>
      <% tasks.each do |task| %>
      <li><%= link_to task.title, "#task_#{task.id}" %></li>
      <% end %>
    </ul>
<% end %>

<%= div_for topic do %>
    <%= content_tag :h1, t('.topic_title') %>
    <div class="description">
      <%= render_body topic %>
      <div class="inline_comments">
        <%= render :partial => 'comments/comments', :locals => {:comment => new_comment} %>
      </div>
    </div>

    <%= content_tag :h1, t('.proposals_title') %>
    <%= button_group do %>
        <%= add_button_link_to t('.new_proposal'), [:new, project, topic, :proposal] if can? :manage, topic %>
    <% end %>
    <div class="proposal list">
      <%= render_responses proposals %>
    </div>

    <%= content_tag :h1, t('.agreements_title') %>
    <%= button_group do %>
        <%= add_button_link_to t('.new_agreement'), [:new, project, topic, :agreement] if can? :manage, topic %>
    <% end %>
    <div class="agreement list">
      <%= render_responses agreements %>
    </div>

    <%= content_tag :h1, t('.tasks_title') %>
    <%= button_group do %>
        <%= add_button_link_to t('.new_task'), [:new, project, topic, :task] if can? :manage, topic %>
    <% end %>
    <div class="task list">
      <%= render_responses tasks %>
    </div>
<% end %>
