<% title t('.title') %>

<%= content_for :top do %>
    <h1><%= avatar_img user, 64 %>&nbsp;<%= user.name %></h1>
    <h2><%= t('.title') %></h2>
<% end %>

<%= simple_form_for user do |form| %>
    <%= form.input :name %>
    <%= form.input :notify_by_email %>
    <%= submit user, user %>
<% end %>
<br/>
<h2>¿Cómo modifico mi imágen?</h2>
<p>Booka utiliza <%= link_to 'Gravatar', 'www.gravatar.com' %> para mostrar los iconos.
  Este servicio te permite asociar un icono a una cuenta de email.
  Si no tienes, puedes crear una cuenta en <%= link_to 'Gravatar', 'www.gravatar.com' %> y asociar un icono a tu email.</p>
<p>Tener un icono (no tiene por qué ser una foto tuya: cualquier imágen vale) es importante para
ayudar a otrxs participantes a reconocer tus acciones de forma visual.</p>



