<% title user.name %>

<%= content_for :top do %>
    <h2>Participantes</h2>
    <h1><%= avatar_img user, 64 %>&nbsp;<%= user.name %></h1>
    <%= button_group do %>
        <%= edit_button_link_to 'Editar perfil', [:edit, user] if can? :edit, user %>
        <%= key_button_link_to 'Ver autorizaciones', [user, :authentications] if can? :manage, user %>
        <% if current_user && current_user.super? %>
            <%= loop_button_link_to 'Suplantar personalidad', enter_path(user.id) %>
            <%= mail_button_link_to 'Enviar notificaciones', email_notifications_user_path(user),
                                    :confirm => "¿Enviar email a #{user.name}?" %>
        <% end %>
    <% end %>
<% end %>

<%= content_for :browser do %>
    <h2>Bookas en los que participa</h2>
    <ul class="projects">
      <% user.projects.each do |project| %>
          <li><%= link_to project.title, project %></li>
      <% end %>
    </ul>
<% end %>

<div id="notifications">
  <h1>Actividad de tus bookas</h1>

  <p><span id="new-notification-count"><%= user.notifications.to_be_emailed.count %></span> notificaciones nuevas.</p>

  <div class="list">
    <%= render :partial => 'notifications/notifications', :locals => {:notifications => notifications, :user => user} %>
  </div>
  <%= content_tag :div, :class => 'more', :data => {:page => 1} do %>
      <%= link_to 'Leer más', user_notifications_path(user, :format => :js) %>
  <% end %>
</div>

