<% title user.name %>

<%= content_for :top do %>
    <h1><%= avatar_img user, 64 %>&nbsp;<%= user.name %></h1>
    <%= button_group do %>
        <%= edit_button_link_to 'Editar perfil', [:edit, user] if can? :edit, user %>
        <%= key_button_link_to 'Ver autorizaciones', [user, :authentications] if can? :manage, user %>
        <%= loop_button_link_to 'Suplantar personalidad', enter_path(user.id) if current_user && current_user.super? %>
        <%= mail_button_link_to 'Enviar notificaciones', email_notifications_user_path(user),
            :confirm => "¿Enviar email a #{user.name}?" if current_user && current_user.super? %>
    <% end %>
<% end %>

<%= content_for :browser do %>
    <h2>Bookas en los que participa</h2>
    <ul class="projects">
      <% user.projects.each do |project| %>
      <li><%= link_to project.title, project %></li>
      <% end %>
    </ul>
<% end %>

<div class="notifications">
<h1>Actividad de tus bookas</h1>
<% user.notifications.each  do |n| %>
      <%= content_tag(:span, "(nuevo)", :class => 'new-notification') if n.should_be_emailed %>
    <%= render n.version %>
<% end %>
</div>

