
<%= content_for :top do %>
    <h1><%= booka_line.title %></h1>
    <%= title "Editar información de '#{carte_book.title}'", :h2 %>
<% end %>

<%= content_for :browser do %>

<% end %>

<%= render  'form' %>

<%= content_for :info do %>
<% end %>




