<%= content_for :top do %>
    <%= title booka_page.title %>
    <h4>plataforma editorial abierta</h4>
    <%= button_group do %>
        <%= add_button_link_to 'Crear una serie', new_booka_line_path if can? :manage, BookaLine %>
        <%= edit_button_link_to(t('.edit_welcome'), [:edit, booka_page.project, booka_page]) if can? :edit, booka_page %>
    <% end %>
<% end %>


<%= content_for :browser do %>
    <%= render :partial => 'booka_lines/browser' %>
<% end %>

<%= render_body booka_page %>
<%= render :partial => 'comments/comments', :locals => {:comment => new_page_comment} %>
<%= content_for :info do %>
    <h2>Bookas activos</h2>
    <ul class="projects">
      <% projects.each do |project| %>
          <li><%= link_to project.title, project %></li>
      <% end %>
    </ul>
<% end %>


