<%= content_for :top do %>
    <%= title booka_line.title %>
    <ul class="navigator">
      <% BookaLine.all.each do |booka_line| %>
          <li><%= link_to_unless_current booka_line.title, booka_line %></li>
          <span>|</span>
      <% end %>
    </ul>
<% end %>

<%= content_for :browser do %>
    <%= render :partial => 'projects/browser', :locals => {:booka_line => booka_line} %>
<% end %>

<%= render_body booka_line %>

<%= content_for :info do %>
<% end %>

