<%= content_for :top do %>
    <%= title booka_line.title %>
    <ul class="navigator">
      <% BookaLine.all.each do |booka_line| %>
          <li><%= link_to_unless_current booka_line.title, booka_line %></li>
          <span>|</span>
      <% end %>
    </ul>
    <%= button_group do %>
        <%= edit_button_link_to t('.edit'), [:edit, booka_line] if can? :edit, booka_line %>
    <% end %>
<% end %>

<%= content_for :browser do %>
    <%= render :partial => 'projects/browser', :locals => {:booka_line => booka_line} %>
<% end %>

<%= render_body booka_line %>
<%= render :partial => 'comments/comments', :locals => {:comment => new_line_comment } %>

<%= content_for :info do %>
<% end %>

