<%= content_tag_for :tr, page do %>
    <td>
      <%= link_to_unless page.status?(:section), page.title, [page.project, page] %>
    </td>
    <td>
      <% if can? :manage, page %>
          <%= link_to raw('&#9998; Editar'), [:edit, page.project, page] %> |
          <%= link_to raw('&uArr; Arriba'), project_page_positions_path(page.project, page, go: :top), method: :put %> |
          <%= link_to raw('&uarr; Subir'), project_page_positions_path(page.project, page, go: :up), method: :put %> |
          <%= link_to raw('&darr; Bajar'), project_page_positions_path(page.project, page, go: :down), method: :put %> |
          <%= link_to raw('&dArr; Abajo'), project_page_positions_path(page.project, page, go: :bottom), method: :put %>
      <% end %>
    </td>
    <td><%= page.position %>(<%= page.id %>)</td>
<% end %>