
<%= content_for :top do %>
    <%= title page.title %>
<% end %>

<%= content_for :browser do %>
    <h2><%= t('.browser') %></h2>
    <ul>
      <% pages.each do |page| %>
      <li><%= link_to page.title, [project, page] %></li>
      <% end %>
    </ul>
<% end %>

<%= render_body page %>
<%= render :partial => 'comments/comments', :locals => {:comment => Comment.new(:resource => page)} %>