<%= content_for :top do %>
    <h2>Invitaciones</h2>
    <h1>Booka</h1>
<% end %>

<% if invited_user %>
    <%= title t('.title') %>
    <br/>
    <h2>Hola, <%= invited_user.name %></h2>
    <p>Ha sido invitadx a participar en Booka. Tu email es <%= invited_user.email %> pero
    necesitamos que completes el registro con algún sistema de autenticación. Para que no tengas que
    recordar ni mantener diferentes contraseñas, utilizamos servicios sociales que nos seguran que
    tú eres quien dices ser.</p>
    <p><strong>Booka no hace uso (ni puede acceder) a ninguna información privada de tus servicios. Tan sólo los usa
      para confirmar tu identidad.</strong></p>
    <%= render :partial => 'sessions/authorizations' %>
    <p>Si no tienes cuenta en ninguno de esos servicios, pronto podrás entrar con la tradicional contraseña.</p>
<% else %>
    <%= title 'La invitación no es válida' %>
    <p>Por algún motivo, el código de invitación es erróneo. Por favor, comprueba los datos de tu email
    o solicita otra invitación.</p>
<% end %>