<%= div_for version do %>
    <% user = version.user_id ? User.find(version.user_id) : User.anonymous %>
    <% project = Project.find(version.project_id) %>

    <%= link_to project.title, project_url(project), :class => 'project' unless @hide_project_version %>
    <% if version.item_type == 'Permission' %>
        <% modifier = User.find(version.title) %>
        <div class="info user"><%= avatar_img user %><%= user.name %> hace <%= time_ago_in_words version.created_at %></div>
        <div class="info model"><strong>ha añadido a</strong> '<%= user.name %>'</div>
    <% else %>
        <div class="info user"><%= avatar_img user %><%= user.name %> hace <%= time_ago_in_words version.created_at %></div>
        <% type = version.sub_type.present? ? version.sub_type : version.item_type %>
        <div class="info model">ha <strong><%= t("versions.version.model.#{type}.#{version.event}") %></strong>
          '<%= link_to_if version.event != 'destroy', version.title, version_url(version) %>'</div>
    <% end %>
<% end %>