<%= div_for task do %>
    <%= user_action task.user, task.created_at %>
    <h2><%= task.title %></h2>
    <%= render_body task %>
    <div class="nested-comments">
      <%= render_comments Comment.new(:resource => task), :social => false %>
    </div>
<% end %>