<%= content_for :top do %>
    <h2>Plataforma Booka</h2>
    <%= title 'System' %>
<% end %>

<ul id="booka-info">
  <li><label>Notificationes: </label><%= notifications_count %></li>
  <li><label>Notificationes nuevas: </label><%= new_notifications_count %></li>
</ul>

<div id="rails-info">
  <%= Rails::Info.to_html.html_safe %>
</div>

