<%= div_for agreement do %>
    <%= user_action agreement.user, agreement.created_at %>
    <h2><%= agreement.title %></h2>
    <%= render_body agreement %>
    <div class="nested-comments">
      <%= render :partial => 'comments/comments', :locals => {:comment => Comment.new(:resource => agreement)} %>
    </div>
<% end %>