<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= yield :title %>:: Plataformabooka.net</title>
  <link href='http://fonts.googleapis.com/css?family=Tinos:regular,italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <%= content_tag :div, flash[:notice], :id => "flash_notice" %>
  <div class="row24">
    <div class="col-left">
      <div id="session">
        <%= link_to 'Plataformabooka.net', root_path %>
        <br/>
        <%= link_to 'Ayuda', Project.first %>
        <br/>
        <% if current_user %>
            Hola, <%= link_to current_user.name, current_user %>
            <br/>
            <%= link_to 'Salir', logout_path, :id => 'logout_link' %>
            <br/>
        <% else %>
            <%= link_to 'Iniciar sesion', login_path, :id => 'login_link' %>
            <br/>
        <% end %>
      </div>
    </div>
    <div id="header" class="col-main">
      <% if project? %>
          <%= render(:partial => 'booka_lines/header', :locals => {:booka_line => project.booka_line}) %>
          <h1><%= project.title %></h1>
          <%= render :partial => 'projects/navigation', :locals => {:project => project} %>
      <% end %>
      <%= yield :top %>
    </div>
  </div>

  <% if default_layout? %>
      <div class="row24">
        <div id="browser" class="col-left">
          <%= yield :browser %>&nbsp;
          <%= image_tag 'logos/LOGO-VIBOK.png', :alt => 'vibok', :id => 'logo-vibok' %>
        </div>
        <div class="col-center">
          <%= yield %>
        </div>
        <div id="info" class="col-right">
          <%= yield :info %>&nbsp;
        </div>
      </div>
  <% else %>
      <%= yield %>
  <% end %>

  <div class="row24">
    <div class="col-left">&nbsp;</div>
    <div id="contact" class="col-center">Ediciones Vib[]k 2011 | C / Dinastía Músicos Palatín 9 - 4ºC | 41008 Sevilla
      | España | 34 954 31 63 48 | info@edicionesvibok.net
    </div>
    <div class="col-right">&nbsp;</div>
  </div>
</div>

<% if current_user && current_user.super? %>
    <div id="admin">
      <%= link_to 'Notificationes', notifications_path %>
      <%= link_to 'Participantes', users_path %>
      <%= link_to 'Versiones', versions_path %>
    </div>
<% end %>


</body>
</html>
