<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= yield :title %> :: Plataformabooka.net</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" >
  <link href='http://fonts.googleapis.com/css?family=Tinos:regular,italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.class.name[0..-11].downcase %>">
<div id="page">
  <div class="row24">
    <div class="col-left">&nbsp;</div>
    <div class="col-main">
      <%= content_tag :div, flash[:notice], :id => "flash_notice" if flash[:notice] %>
      <div id="booka">
        <%= link_to 'Plataformabooka.net', root_path %>
        <%= link_to 'Ayuda', Project.first %>
        <%= link_to 'Tu opinión', new_feedback_path %>
      </div>
      <div id="session">
        <% if current_user %>
            Hola, <%= link_to current_user.name, current_user %>
            <%= link_to 'Salir', logout_path, :id => 'logout_link' %>
        <% else %>
            <%= link_to 'Iniciar sesion', login_path, :id => 'login_link' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row24">
    <div class="col-left">
      <%= image_tag logo %>
    </div>
    <div id="header" class="col-main">
      <% if project? %>
          <%= render(:partial => 'booka_lines/header', :locals => {:booka_line => project.booka_line}) %>
          <%= content_tag (controller.class == ProjectsController ? :h1 : :h2), project.title %>
          <%= render :partial => 'projects/navigation', :locals => {:project => project} %>
      <% end %>
      <%= yield :top %>
    </div>
  </div>

  <% if default_layout? %>
      <div class="row24">
        <div id="browser" class="col-left">
          <%= yield :browser %>&nbsp;
          <%= image_tag 'logos/LOGO-VIBOK.png', :alt => 'vibok', :id => 'logo-vibok' %>
        </div>
        <div class="col-center">
          <%= yield %>
        </div>
        <div id="info" class="col-right">
          <%= yield :info %>&nbsp;
        </div>
      </div>
  <% else %>
      <%= yield %>
  <% end %>

  <div class="row24">
    <div class="col-left">&nbsp;</div>
    <div id="contact" class="col-center-big">Ediciones Vib[]k 2011 | C / Dinastía Músicos Palatín 9 - 4ºC | 41008
      Sevilla
      | España | 34 954 31 63 48 | info@edicionesvibok.net
    </div>
  </div>
</div>

<% if current_user && current_user.super? %>
    <div id="admin">
      <%= link_to 'Sistema', system_path %>
      <%= link_to 'Participantes', users_path %>
      <%= link_to 'Versiones', versions_path %>
    </div>
<% end %>

<div id="beta">
  Versión Beta: Plataforma Booka está en activo desarrollo. <br/>
  Por favor, <%= link_to 'ayúdanos a probar la herramienta.', new_feedback_path %>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11032039-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
